In [8]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import math
import cv2
import matplotlib.pyplot as plt
import os
import seaborn as sns
from random import shuffle

# import umap
from PIL import Image
# from scipy import misc
# from os import listdir
# from os.path import isfile, join
# import numpy as np
# from scipy import misc
# from random import shuffle
# from collections import Counter
# import matplotlib.pyplot as plt
# from sklearn.decomposition import PCA
# from sklearn.manifold import TSNE
# import tensorflow as tf
# from keras.models import Sequential
# from keras.layers import Conv2D, MaxPooling2D
# from keras.layers import Activation, Dropout, Flatten, Dense
# from keras.utils.np_utils import to_categorical

In [2]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from opendatasets) (4.64.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (7.0.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.25.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle->opendatasets) (4.0.0)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [3]:
import opendatasets as od

In [4]:
od.download(
    "https://www.kaggle.com/datasets/jangedoo/utkface-new")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: ikbalunal
Your Kaggle Key: ··········
Downloading utkface-new.zip to ./utkface-new

100%|██████████| 331M/331M [00:04<00:00, 81.8MB/s]

In [5]:
os.chdir('/content/utkface-new/utkface_aligned_cropped')

In [6]:
os.chdir('/content/utkface-new/UTKFace')

In [10]:
onlyfiles = os.listdir()

In [11]:
len(onlyfiles)

23708

In [12]:
shuffle(onlyfiles)
age = [i.split('_')[0] for i in onlyfiles]

In [23]:
def classAge(i):
    if i <= 14:
        return int(1)
    if (i>14) and (i<=25):
        return int(2)
    if (i>25) and (i<40):
        return int(3)
    if (i>=40) and (i<60):
        return int(4)
    if i>=60:
        return int(5)

In [13]:
import imageio

In [24]:
ham =[]
sonuclanacak = []
for file in onlyfiles:
    face = imageio.imread(file)
    face =cv2.resize(face, (32, 32) )
    ham.append(face.flatten())
    sonuclanacak.append(classAge(int(file.split('_')[0])))

In [25]:
duzenli_veriler=np.array(ham) 
sonuc=np.array(sonuclanacak)
df=pd.DataFrame(duzenli_veriler)
# sonuc kolonumu ekliyorum
df['Sonuc']=sonuc

In [26]:
df

,0,1,2,3,4,5,6,7,8,9,...,3063,3064,3065,3066,3067,3068,3069,3070,3071,Sonuc
0,44,42,24,46,44,29,52,49,33,39,...,97,87,52,96,90,54,97,81,51,2
1,206,190,174,206,191,170,206,191,168,208,...,220,154,132,221,149,127,220,146,121,3
2,199,209,233,197,206,239,196,206,232,153,...,184,152,132,190,159,139,191,163,144,3
3,51,29,46,43,28,44,40,29,43,51,...,59,29,27,41,20,19,26,10,10,3
4,199,141,127,201,154,134,203,165,139,213,...,255,222,94,254,227,83,248,221,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,25,10,4,55,37,17,78,55,36,93,...,185,186,188,0,0,0,0,0,0,1
23704,91,93,88,100,102,99,46,48,47,28,...,149,150,136,90,87,68,102,100,79,4
23705,41,37,32,42,26,28,69,48,40,128,...,244,244,246,232,235,242,233,233,243,3
23706,112,25,60,85,34,49,79,40,46,117,...,80,24,55,110,40,77,112,37,83,2
23707,152,62,97,24,6,16,8,0,6,32,...,38,24,47,75,59,88,16,6,19,2

In [27]:
x = df.drop(columns='Sonuc')

In [28]:
x

,0,1,2,3,4,5,6,7,8,9,...,3062,3063,3064,3065,3066,3067,3068,3069,3070,3071
0,44,42,24,46,44,29,52,49,33,39,...,48,97,87,52,96,90,54,97,81,51
1,206,190,174,206,191,170,206,191,168,208,...,138,220,154,132,221,149,127,220,146,121
2,199,209,233,197,206,239,196,206,232,153,...,125,184,152,132,190,159,139,191,163,144
3,51,29,46,43,28,44,40,29,43,51,...,30,59,29,27,41,20,19,26,10,10
4,199,141,127,201,154,134,203,165,139,213,...,104,255,222,94,254,227,83,248,221,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,25,10,4,55,37,17,78,55,36,93,...,205,185,186,188,0,0,0,0,0,0
23704,91,93,88,100,102,99,46,48,47,28,...,147,149,150,136,90,87,68,102,100,79
23705,41,37,32,42,26,28,69,48,40,128,...,241,244,244,246,232,235,242,233,233,243
23706,112,25,60,85,34,49,79,40,46,117,...,33,80,24,55,110,40,77,112,37,83
23707,152,62,97,24,6,16,8,0,6,32,...,50,38,24,47,75,59,88,16,6,19

In [29]:
y= df['Sonuc']

In [30]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=77,stratify=y)

In [31]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [32]:
lr.fit(x_train,y_train)

LinearRegression()

In [33]:
y_pred_train = lr.predict(x_train)

In [34]:
from sklearn.metrics import r2_score
r2_score(y_train,y_pred_train)

0.6620734922124685

In [35]:
lr.predict(x_test[3005:3006])

array([3.77006142])

In [36]:
y_test[3005:3006]

3427    4
Name: Sonuc, dtype: int64